#card {
    perspective: 1000px;
    cursor: pointer;
    margin: 10px;
    background-color: #395b64;
    padding: 10px;
    border-radius: 10px;
    
}

#card img {
    width: 100%;
    height: 100%;
    display: block;
    backface-visibility: hidden;
}

#card.flipped img {
    transform: rotateY(180deg);
}

#card-flipped  {
    perspective: 1000px;
    cursor: pointer;
    margin: 10px;
    background-color: #395b64;
    padding: 10px;
    border-radius: 10px;
}

#card:hover {
    box-shadow: #2c3333 0 8px 15px;
}

#card-flipped:hover {
    box-shadow: #2c3333 0 8px 15px;

}


